<div class="adm-menu">
	<ul>
		<li class="adm-mn"><i class="fa fa-sliders" aria-hidden="true"></i> Добавить:</li>
		<li><%= link_to "Редактировать туры", admin_path %></li>
		<li class="adm-mn"><i class="fa fa-sliders" aria-hidden="true"></i> Настройки сайта</li>
		<li><%= link_to "Настройки метатегов" %></li>
	</ul>
</div>