<div class="choose">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="hot-trigger">
					<h1>Лучшие предложения от Travel Me Agency</h1>
					<h2>УЗНАЙ КАК НАСЛАДИТСЯ ОТПУСКОМ</h2>
					<div id="showcase_hottour_v2_showcase_module"></div>
					<script src="https://www.ittour.com.ua/showcase_search.jsx?id=377530D1708667G012O211784&type=103"></script>
				</div>
			</div>
		</div>
	</div>
</div>