<div class="choose">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="hot-trigger">
					<h1>Лучшие предложения от Travel Me Agency</h1>
					<h2>УЗНАЙ КАК НАСЛАДИТСЯ ОТПУСКОМ</h2>
				</div>
			</div>
			<div class="col-lg-7">
				<div id="showcase_hottour_v2_showcase_module"></div>
				<script src="https://www.ittour.com.ua/showcase_search.jsx?id=72632D91072145G223O370666&type=103"></script>
			</div>
			<div class="col-lg-5">
				<div id="itTourPriceWidgetWrapper" style="margin-top: 32px;"></div>
				<script id="itTourPriceWidgetScript" enableBuy="false" viewType="large" widgetZIndex="10" activeTab="tour" lang="ru"
				 charset="utf-8" theme="https://ittour.com.ua/classes/handlers/ittour_external_modules/ittour_modules/min_price_v2/min_price/css/sky.css"
				 src="https://ittour.com.ua/classes/handlers/ittour_external_modules/ittour_modules/min_price_v2/min_price/js/widget.js?token=72632D91072145G223O370666"></script>
			</div>
		</div>
	</div>
</div>