<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= link_to (image_tag 'logo2.png'), index_path %>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="menu">
					<ul>
						<li><%= link_to "Подобрать тур", '#search' %></li>
						<li><a href="#">Горящие туры</a></li>
						<li><a href="#">Минимальные цены</a></li>
						<li><a href="#">Точки продаж</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>