<div class="koffer">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= image_tag 'logo2.png' %>

				</div>
			</div>
			<div class="col-lg-10">
				<div class="menu">
					<ul>
						<li><%= link_to "Подобрать тур", '#search' %></li>
						<li><a href="#">Горящие туры</a></li>
						<li><a href="#">Минимальные цены</a></li>
						<li><a href="#">Точки продаж</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="trigger-banner">
					<h1>Выбирай туры по душе</h1>
					<h2>Путешествуй по всему миру</h2>
					<div class="module">
						<%= image_tag 'module.png' %>
					</div>

				</div>
			</div>
			<div class="col-lg-6">
				<div class="banner">
					<%= image_tag 'barge.png' %>
				</div>
			</div>
			<div class="col-lg-12">
			</div>
		</div>
	</div>
</div>

