<div class="hot">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="hot-trigger">
					<h1>Интересные туры от лучших тур-операторов Украины</h1>
					<h2>бронируйте дешевые туры - время отдыхать</h2>
				</div>
			</div>
			<div class="col-lg-12">
				<script type="text/javascript" language="JavaScript"
					src="//tourclient.ru/f/jsboot/crm155838/hot_tourV2?style=default&conf=default"></script>
			</div>
		</div>
	</div>
</div>