<div class="hot">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="hot-trigger">
					<h1>Интересные туры от лучших тур-операторов Украины</h1>
					<h2>бронируйте дешевые туры - время отдыхать</h2>
				</div>
				<div id="showcase_module"></div>
				<script src="https://www.ittour.com.ua/showcase_search.jsx?id=377530D1708667G012O211784&type=104&kind=50&width_class=55&row_count=16"></script>
			</div>
		</div>
	</div>
</div>