<section class="admin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="admin__h1">
          Добавить точку продаж
        </h1>
      </div>
    </div>
    <%= render 'form', point: @point %>
  </div>
</section>