<%= render 'components/header' %>
<div class="admin">
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= render "components/adm-menu" %>
		</div>
		<div class="col-lg-9">
			<%= render 'form', tour: @tour %>
		</div>
	</div>
</div>
</div>
