<title>Сайт на реконструкции...</title>
<div class="coconut">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= link_to (image_tag 'logo2.png'), closed_path %>
				</div>
			</div>

			<div class="col-lg-10">
				<div class="tels">
					<ul>
						<li><span>UA:</span> ‎‎+38 044 333 90 45</li>
					</ul>
				</div>

			</div>
			<div class="col-lg-6">
				<div class="trigger-banner">
					<h1>Сайт на реконструкции</h1>
					<h2>Мы скоро вернемся!</h2>

				</div>
			</div>
			<div class="col-lg-6">
				<div class="banner">
					<%= image_tag 'barge.png' %>
				</div>
			</div>
			<div class="col-lg-12">
			</div>
		</div>
	</div>
</div>