<% content_for :head do %>
<% @metatags.where(page: 'franchise').each do |metatag| %>
<title><%= metatag.title %></title>
<meta name="description" content="<%= metatag.description %>" />
<meta name="keywords" content= "<%= metatag.keywords %>" />
<% end %>
<% end %>
<%= render 'components/header' %>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="soon">
				<h3>Страница на модерации..</h3>
			</div>
		</div>
	</div>
</div>