<% content_for :head do %>
<% @metatags.where(page: 'franchise').each do |metatag| %>
<title><%= metatag.title %></title>
<meta name="description" content="<%= metatag.description %>" />
<meta name="keywords" content= "<%= metatag.keywords %>" />
<% end %>
<% end %>
<%= render 'components/header' %>