<div class="island">
	<%= render "components/header" %>
	<div class="container offset--top">
		<div class="module">
			<script type="text/javascript" language="JavaScript"
				src="//tourclient.ru/f/jsboot/crm155838/find_tour_form?style=full&conf=default"></script>
		</div>
	</div>
</div>

<section class="test">
	<div class="container results">
		<script type="text/javascript" language="JavaScript"
			src="//tourclient.ru/f/jsboot/crm155838/find_tour_offers?style=default&conf=default"></script>
	</div>
</section>
<%= render 'components/hot' %>
<%= render 'components/footer'%>

<style>
	.results {
		margin-top: -55px;
	}

	.module {
		background-color: rgba(255, 255, 255, 0.84);
		padding: 18px 10px 8px;
		border-radius: 12px;
	}
</style>


<% content_for :seo do %>
<title>Сеть туристических агентств Travel Me Agency</title>
<meta name="description"
	content="Travel Me Agency">
<meta name="keywords"
	content="туристическое агентство, купить тур">
<meta property="og:image"
	content="https://travel-me.agency/assets/logo2-69b66fa4f7c1cb5bdaf478e4d4a85dbfe36308ef665cab1a9e8aa81d1c4f3825.png" />
<link rel="canonical" href="<%= request.url %>" itemprop="url">
<meta property="og:site_name" content="travel-me.agency | TRAVEL ME AGENCY">
<meta property="og:url" content="https://travel-me.agency/">
<meta property="og:description" content="">
<meta property="og:type" content="website">
<% end %>