
<div class="island">
	<%= render "components/header" %>
	<div class="container offset--top">
		<div class="search" id="search">
			<script type="text/javascript" language="JavaScript"
				src="//tourclient.ru/f/jsboot/crm155838/find_tour_form?style=full&conf=default"></script>
		</div>
	</div>
</div>
<%# render 'components/choose'%>
<%= render 'components/hot' %>
<%= render 'components/footer'%>