<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="menu">
          <%= link_to "Список городов", cities_path, class: "menu__link" %>
          <%= link_to "Список точок продаж", points_path, class: "menu__link" %>
          <%= link_to "Добавить город", new_city_path, class: "menu__link" %>
          <%= link_to "Добавить точку продаж", new_point_path, class: "menu__link" %>
        </div>
      </div>
    </div>
  </div>
</header>