.header-two {
	background-color: #00bcd4;
	padding: 15px 0;
}

.switch {
	text-align: center;
	margin-top: 8px;

	a {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}

	ul {
		margin-bottom: 0;
	}
}


.mobile-header-nav {
	display: none;
	background-color: rgba(255, 255, 255, 0.71);
	border-radius: 7px;
}

.mobile-header__li {
	text-align: center;
	color: #000000;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 14px;
}

.mobile-header__link:hover {
	color: #fe3e55;
	text-decoration: none;
}

.hamburger {
	text-align: right;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}