header {
	padding: 15px 0 15px 0;
	background-color: #95d2f5;
}
.switch {
	text-align: center;
	margin-top: 8px;
	a {
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	}
	ul {
		margin-bottom: 0;
	}
}