@import "bootstrap/dist/css/bootstrap";
@import "normalize";

.header {
	background-color: #fff;
	padding: 17px 0;
}
.menu {
  text-align: right;
}
.menu__link {
	display: inline-block;
	padding: 10px 20px;
	color: #e3505d;
}

.admin {
	padding: 50px 0;
}

.admin__h1 {
	margin-bottom: 20px;
}

.admin__input {
	width: 100%;
}

.admin__btn {
	margin-top: 20px;
	background-color: #e3505d ;
	color: #fff;
	border: none;
	border-radius: 7px;
	padding: 10px 25px;
}

.margin--bottom-l {
	margin-bottom: 10px;
}