.trigger-franchise {
	h3 {
		margin: 30px 0 30px 0;
		font-size: 36px;
	}
}
.propose {
	background-image: image-url('world.jpg');
	margin: 20px 0 0 0;
	text-align: center;
}
.franch-back {
	margin-top: 30px;
}
.open {
	margin-top: 50px;
	font-size: 20px;
}
.left {
	text-align: left;
}
.buy {
	margin: 50px 0 50px 0;
	text-align: center;
}