.franchise {
	padding-top: 30px;
}

.franchise__h1,
.franchise__h2 {
	font-size: 32px;
}

.propose {
	background-image: image-url('world.jpg');
	margin: 20px 0 0 0;
	padding: 50px 0 20px;
}

.propose__h2 {
	font-size: 20px;
}

.franchise__img {
	margin-bottom: 30px;
}

.buy {
	margin: 50px 0 50px 0;
	text-align: center;
}

.buy--red {
	color: red;
	font-size: 24px;
}

.buy__phone {
	margin-bottom: 20px;
	display: inline-block;
}