.island {
	background-image: image-url('island.jpg');
	background-size: cover;
	height: 100vh;
}
.header-trans {
	padding: 15px 0 15px 0;
}
.menu {
	p {
		span {
			font-weight: bold;
			color: #fff;
		}
	}
}