.island {
	background-image: image-url('island.jpg');
	background-size: cover;
}

.header-trans {
	padding: 15px 0 15px 0;
}

.menu {
	p {
		span {
			font-weight: bold;
			color: #fff;
		}
	}
}

.menu__phone {
	font-size: 18px;
	color: #fff;

	&:hover {
		color: gold;
		text-decoration: none;
	}
}

.menu__link {
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;

	&:hover {
		text-decoration: none;
		color: #000;
		border-bottom: 3px solid red;
		padding-bottom: 12px;
	}
}

.menu__ul {
	margin-top: 13px;
}

.menu__li {
	display: inline-block;
	margin-left: 20px;
}