@import "bootstrap/dist/css/bootstrap-grid.min";
@import "normalize";
@import "modificators";
@import "header";

img {
  width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
}

body {
  font-family: "Play", sans-serif !important ;
  font-weight: 400;
  font-size: 16px;
}

// Banner

.banner {
  background-image: image-url("landing/image2.jpg");
  height: 100vh;
  background-size: cover;
  text-align: center;
}

.logo__img {
  margin-top: 10px;
}

.phones {
  text-align: right;
  margin-top: 13px;
}

.phones__call {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}

.phones__link {
  font-size: 24px;
  color: #e3505c;
  font-weight: 700;

  &:hover {
    color: #ffffff;
  }
}

.nav {
  text-align: right;
  margin-top: 13px;
}

.nav__link {
  color: #e3505c;
  text-transform: uppercase;
  padding: 10px 15px;
  display: inline-block;
  font-size: 16px;

  &:hover {
    color: #ffffff;
  }
}

.banner-triggers {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 45px 0;
  margin-top: 120px;
}

.banner-triggers__h1 {
  color: #000000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.banner-triggers__h2 {
  color: #000000;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.banner-triggers__h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #e3505c;
}

.pink--button {
  background-color: #e3505c;
  color: #ffffff;
  display: inline-block;
  margin-top: 75px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 60px;
  border-radius: 7px;

  &:hover {
    background-color: #ffffff;
    color: #e3505c;
  }
}

// Ways

.ways__h1 {
  font-size: 28px;
}

.ways-item {
  margin-bottom: 10px;

  &:hover {
    .ways-item__p {
      background-color: #ffffff;
      color: #e3505c;
    }
  }
}

.ways-item__p {
  background-color: #e3505c;
  margin: 0;
  color: #ffffff;
  margin-top: -4px;
  font-size: 18px;
  padding: 12px 0;
}

// GET

.get {
  background-color: #edebeb;
}

.get__li {
  padding-bottom: 4px;
}

// Steps

.steps {
  margin-top: -5px;
}

.steps-bgc {
  background-image: image-url("landing/steps-items.png");
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}

.steps-bgc__p {
  font-size: 2em;
  font-weight: 700;
}

.steps-bgc--man {
  max-width: 150px;

  &:hover {
    max-width: 170px;
  }
}

.steps-item__p {
  margin: 0;
}

// Form

.form {
  margin-top: 20px;
}

.form__input {
  padding: 10px 5px 10px 15px;
  border: none;
  border-radius: 7px;
  margin-bottom: 25px;
}

.form__textarea {
  padding: 15px 5px 10px 15px;
  border: none;
  border-radius: 7px;
  min-height: 90px;
  margin-bottom: 25px;
}

.form__btn {
  background-color: #e3505c;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: #e3505c;
  }
}

// More

.more__h5 {
  font-size: 2em;
  margin: 0 0 30px;
}

.more-item {
  background-color: #edebeb;
  padding: 15px 35px;
  border-radius: 7px;
}

.more-item__title {
}

.more-item__span {
  color: #e3505c;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

// Contacts

.contacts__p {
  color: #e3505c;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 0;
}

.contacts__link {
  display: block;
  font-size: 20px;
  font-weight: 700;
}
.contacts__desc {
  margin: 0 0 5px;
  text-indent: 20px;
}

// Footer

.footer {
  background-color: #e3505c;
  color: #ffffff;
  padding: 10px 0;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .banner {
    height: initial;
  }
  .phones {
    text-align: center;
  }
  .phones__call {
    display: none;
  }
  .phones__link {
    display: block;
  }
  .nav {
    display: none;
  }

  .banner-triggers {
    margin-top: 20px;
  }
  .pink--button {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .get__img {
    display: none;
  }

  .steps-bgc {
    background-image: none;
    height: auto;
  }

  .steps-item {
    margin-bottom: 15px;
  }

  .steps-row--two {
    padding: 0;
  }

  .more-item {
    margin-bottom: 15px;
  }

  .offset-top--l {
    margin-top: 0;
  }

  .contacts__desc {
    margin-top: 10px;
  }
}



/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu {
    text-align: center !important;
  }
  .world {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  
  .banner {
    background-image: none !important;
    text-align: left !important;
    padding: 15px 0;
  }
  
  .logo__img {
    margin-top: 0 !important;
  }

  .menu__ul {
    display: none;
  }

  .menu__phone {
    display: none !important;
  }

  .menu__call {
    display: none;
  }
  .menu {
    margin-top: 0 !important;
    text-align: left !important;
  }

  .mob-contacts {
    margin-top: 18px;
    margin-left: 35px;
  }

  .mobile-nav__ul {
    text-align: center;
    margin-top: 10px;
  }

  .hamburger {
    max-width: 40px;
  }

  .mob-top__icon {
    width: 22px;
  }

  .mob-contacts__phone {
    display: inline-block !important;
  }

  .island {
    background-image: none !important;
  }
  .island__h1 {
    display: none;
  }

  .banner-triggers {
    text-align: center;
  }

  .banner-triggers__h1 {
    font-size: 30px !important;
  }

  .banner-triggers__h2 {
    font-size: 19px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hamburger {
    margin-top: 15px;
    max-width: 40px;
  }

  .mob-contacts {
    margin-top: 10px;
    margin-left: 24px;
  }
  .mob-contacts__phone {
    display: inline-block !important;
    font-size: 14px;
  }

  .offset--top {
    padding-top: 50px !important;
  }

  .mobile-nav__ul {
    text-align: center;
    margin-top: 5px;
  }

  .mobile-nav__li {
    display: inline-block;
  }

  .island__h1 {
    display: none;
  }
  .logo__img {
    width: 125px !important;
  }

  .mobile-header-nav {
    padding: 10px 0;
  }
  .mob-top__mail {
    display: inline-block;
    font-size: 12px;
    margin-top: 15px;
  }
  .mob-top__icon {
    width: 18px;
  }
}

@media only screen and (max-width: 370px) {
  .mob-contacts__phone {
    font-size: 11px !important;
    margin-left: 19px;
  }
}
