/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .menu {
    text-align: center !important;
  }
  .world {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .menu__ul {
    display: none;
  }

  .menu__phone {
    display: none !important;
  }

  .menu__call {
    display: none;
  }
  .menu {
    margin-top: 0 !important;
    text-align: left !important;
  }

  .mob-contacts {
    margin-top: 18px;
  }

  .hamburger {
    margin-top: 18px;
  }

  .mob-contacts__phone {
    display: inline-block !important;
  }

  .island {
    background-image: none !important;
  }
  .island__h1 {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .hamburger {
    margin-top: 15px;
  }

  .mob-contacts {
    margin-top: 10px;
    margin-left: 10px;
  }
  .mob-contacts__phone {
    display: inline-block !important;
  }

  .offset--top {
    padding-top: 50px !important;
  }

  .mobile-nav__ul {
    text-align: right;
    margin-top: 5px;
  }

  .mobile-nav__li {
    display: inline-block;
  }

  .island__h1 {
    display: none;
  }
  .logo__img {
    width: 125px !important;
  }

  .mobile-header-nav {
    padding: 10px 0;
  }
}
