.offset-tb--xl {
  padding: 40px;
}

.offset-top--l {
  margin-top: 30px;
}

.text--center {
  text-align: center;
}

.text--bold {
  font-weight: 700;
}

.padding-tb--z {
  padding: 0;
}

.padding-lr--z {
  padding: 0;
}

.padding-lr--m {
  padding: 0 5px;
}

.padding-bottom--l {
  padding-bottom: 30px;
}

// steps rows

.steps-row--one {
  padding-top: 20px;
}

.steps-row--two {
  padding-top: 42px;
}

// Backgrounds and colors

.text--black {
  color: #000000;
}

.bgc--grey {
  background-color: #edebeb;
}


.bgc--white {
  background-color: #ffffff;
}

.pink--text {
  color: #e3505c !important;
}

.pink-nav--btn {
  background-color: #e3505c;
  padding: 10px 25px !important;
  color: #ffffff !important;
  border-radius: 7px;

  &:hover {
    background-color: #ffffff;
    color: #e3505c !important;
  }
}
